{%extends 'home.html'%}
{%block content%}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-8">
			<div class="card mb-3">
				<img src='{{news.image.url}}' class="card-img-top" alt="{{news.title}}">
				<div class="card-body">
					<h5 class="card-title">{{news.title}}</h5>
					<hr />
					<p class="card-text">{{news.description}}</p>
				</div>
				<div class="card-footer">
					<a href="/category/{{news.category.id}}">{{news.category.title}}</a>
					<form action="{%url 'like_article' news.pk%}" method="POST">
						{% csrf_token %}
						{% if user.is_authenticated %}
						{% if is_liked %}
						<button type="submit" name="article_id" , class="btn btn-danger">Dislike</button>
						{% else %}
						<button type="submit" name="article_id" , class="btn btn-primary">Like</button> Likes -
						{{total_likes}}
						{% endif %}
						{% else %}
						<small>Login To Like</small>
						{% endif %}
					</form>
				</div>
			</div>
			<!-- Previous Comments -->
			<div class="card my-4">
				<h6 class="card-header">Comments</h6>

				<div class="card-body">
					{%if not news.comments.all%}
					<blockquote class="blockquote text-right">
						<p class="mb-0">This article has no comments yet...</p>
						<footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
					</blockquote>
					{% else %}
					{{comments.count}} Comment{{comments|pluralize}}
					{%for comment in comments%}
					<blockquote class="blockquote text-right">
						<p class="mb-0">{{comment.body}}</p>
						<footer class="blockquote-footer"><cite title="Source Title">by {{comment.user}}</cite>
							<button type="button" name="button"
								class="reply-btn btn-outline-dark btn-sm ml-2">Reply</button></footer>
					</blockquote>
					<div class="replied-comments container mt-2" style="display: none;">
						<div class="form-group row">
							{% for reply in comment.replies.all %}
							<blockquote class="blockquote text-right">
								<p class="mb-0"><small>{{reply.body}}</small></p>
								<footer class="blockquote-footer"><small><cite title="Source Title">by
											{{reply.user}}</cite></small>
								</footer>
							</blockquote>
							{% endfor %}
							<form method="post">
								{% csrf_token %}
								<input type="hidden" name="comment_id" value="{{ comment.id }}">
								{{comment_form.as_p}}
								{% if user.is_authenticated %}
								<input type="submit" value="Submit" class="btn btn-outline-success" />
								{% else %}
								<input type="submit" value="Submit" class="btn btn-outline-success" disabled />
								<small>Login To
									Comment</small>
								{% endif %}
							</form>
						</div>
					</div>
					{%endfor%}
					{%endif%}
					<hr />

				</div>
			</div>
			<!-- Comments -->

			<div class="card my-4">
				<h6 class="card-header">Add Comment</h6>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						{{comment_form.as_p}}
						{% if user.is_authenticated %}
						<input type="submit" value="Submit" class="btn btn-outline-success" />
						{% else %}
						<input type="submit" value="Submit" class="btn btn-outline-success" disabled />
						<small>Login To
							Comment</small>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
		<!-- Related News -->
		<div class="col-md-4">
			<h3 class="mb-3 border-bottom pb-1">From this Category</h3>
			<!-- Category Box -->
			{%for news in similar%}
			<div class="card mb-3 shadow">
				<img src='{{news.image.url}}' class="card-img-top" alt="{{news.title}}">
				<div class="card-body">
					<h5 class="card-title">{{news.title}}</h5>
					<hr />
					<p class="card-text"><a href="/description/{{news.id}}" class="btn btn-sm btn-primary">Read Full</a>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</main>

{% endblock %}