<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<div class="top-border pt-3">=
    <h2 style=" width: 500px; margin: auto; color: blue; font-family: Trebuchet MS; font-weight: bold;">You have been
        logged
        out</h2>
</div>
<div class="top-border pt-3" style="width: 200px; margin: auto">
    <small class="text-muted">
        <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
    </small>
</div>