{% extends "home.html" %}
{% load crispy_forms_tags %}
{%block content%}
<div class="container mt-4">   
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="{{user.userprofile.image.url}}" id="imgProfile" style="width: 150px; height: 150px" class="rounded-circle account-img" />
                                    <div class="middle">
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <br><br>
                                    <h2 class="account-heading" style="font-size: 1.5rem;">{{user.username}}</h2>
                                    <h6 class="text-secondary">{{user.email}}</h6>
                                   
                                </div>                            
                            </div>
                        </div>
                    
                    </div>
                </div>                    
            </div>
        </div> 
</div>

{%endblock%}