{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" style="width: 500px; margin: auto" novalidate>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="bottom-border mb-4"
                style=" width: 100px; margin: auto; color: blue; font-family: Trebuchet MS; font-weight: bold;">Register
            </legend>
            {{form|crispy}}
            {{profile_form|crispy}}
        </fieldset>
        <div class="form-group" style=" width: 100px; margin: auto">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>

        </div>
    </form>
    <div class="top-border pt-3" style="width: 200px; margin: auto">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}